

/* For research, Ctrl+f and copy-paste:
fonts : FONTS;
windows onload : ONLOAD;
after alert box: INTRO 2;
main container: CONTAINER;
responsive design : MEDIA QUERIES;
square footer : BOX FOOTER;

Credits flaticons : 
https://www.flaticon.com/authors/itim2101;
https://www.flaticon.com/authors/zlatko-najdenovski
*/



/**********************
******* FONTS *********
**********************/

@font-face {
	font-family: whtrab;
	src:url(fonts/WHITRABT.TTF);
}

@font-face {
	font-family: titlefont;
	src:url(fonts/main.ttf);
}


/**********************************
************ MAIN CSS *************
***********************************/

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}
body {
	font-family: 'whtrab';
	min-height: 100%;
	background-image: url(./img/ep_naturalwhite.png);
}

/***********************
******** ONLOAD ********
***********************/

#intro {
	color: #00CC00;
	min-height: 100vh;
	display: none;
}

/**********************
******* INTRO 2 *******
**********************/

#suite {
	height: 100%;
}

#header {
	/*border:2px solid red;*/
	display: flex;
	justify-content: space-between;
}

#header img {
	vertical-align: middle;
}

#eye{
	margin-left:30px;
	width: 250px;
	height: 175px;
}


#confi{
	margin-top: 10px;
	margin-right: 30px;
	width:150px;
	height:150px; 
}

#headsimplon{
	font-size: 60px;
	font-family: titlefont;
	/*border: 2px solid green;*/
	color: red;
}

#simplogo {
	width: 170px;
	height: 170px;
}



/************************************
************  CONTAINER  ************
************************************/


#container {
	/*border: 2px solid purple;*/
	max-height: 600px;
}

#leftpane {
	flex: 2;
	/*border: 2px solid pink;*/
	display: flex;
}

#rightpane{
	flex: 3;
	/*border: 2px solid orange;*/
}

#myfile {
	/*border: 2px solid yellow;*/
	display: flex;
	flex-direction: row;
}

#mypic {
	height: 400px;
	width: 300px;
	margin: auto;
	cursor: pointer;
}

#title {
	display: none;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	width: 350px;
	background-color: #D80503;
	opacity: 0.8;
	border-radius: 20% 10%;
	border: outset;
	color: white;
	height: 35px;
	font-size: 20px;
}

.desc{
	font-size: 25px;
	margin-left: 5%;
	line-height: 40px;
}

.titre{
	font-size: 25px;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 35px;
}

.test {
	margin-bottom: 10px;
}

#corps {
	overflow-y: auto;
	max-height: 600px;
}

.halfsize {
	/*border: 2px solid green;*/
	display: flex;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.mar-ten {
	margin:10px 0px;
}

.right-bor{
	border-right: 2px solid black;
	margin-right: 5px;
}

.flexone {
	flex: 1;
}

.inside li {
	list-style-position: inside;
}

#icones{
	text-align: center;
}

.desc a {
    text-decoration: none;
}    


.titre2{
	text-align: center;
	font-size: 20px;
}

.load{
	display: flex;
	flex-direction: row;
}

.codela{
	flex:1;
	text-align: center;
}
.loadbar{
	flex:1;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

.bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 20px;
}


.butto{
	margin-top: 10px;
	width: 100%;
}
button{
	text-align: center;
	width: 40%;
	display: block;
	margin: auto;
	background-color: #930B23;
	opacity: 0.8;
	border-radius: 20% 10%;
	border: outset;
	color: white;
	height: 40px;
	font-size: 10px;
}
button:active{	
	border: inset;
}

/********************
**** BOXS NAVBAR ****
********************/


#navimg {
	margin: 20px 0px;
	width: 100%;
	/*border: 2px solid green;*/
	display: flex;
}

.carre {
	height: 100px;
	width: 100px;
	margin:auto;
	justify-content: space-between;
	cursor: pointer;
}


.carre:hover{ 
	
}

.icons {
	height: 25px;
	width: 25px;	
}

.icons:last-child {
	transform: translateY(5px);
}



/**************************
****** MEDIA QUERIES ******
**************************/

@media screen AND (max-width: 992px)  {


	#header img {
		width: 150px;
		height: 100px;
		margin: 5px 0px;
	}

	#headsimplon {
	color: red;
	}

	#simp {
		display: none;
	}

	#mypic {
		height: 300px;
		width: 200px;
	}
	
	#corps {
		max-height: 400px;
		overflow: auto;
	}

	#title {
		width: 300px;
		height:35px ;
		font-size: 15px;
	}
	
	.desc {
		font-size: 14px;
	}

	.inti{
		font-size: 20px;
	}

	.carre {
		width: 75px;
		height: 75px;
	}
}

@media screen AND (max-width: 576px) {
	
	#header img {
		width: 90px;
		height: 70px;
	}
	
	#mypic {
		height: 100px;
		width: 75px;
	}

	#container .pane{
		display: block;
	}
	
	.carre {
		width: 50px;
		height: 50px;
	}

	#title {
		height: 25px;
	}
	.titre{
	font-size: 20px;
	margin-bottom: 15px;
	}

}

@media screen AND (max-height: 400px){
	
}